%h1 Contact
%p
  AnnaTunes is a two-person project in the earliest phases of development.

  %div{:itemscope => true, :itemtype => "http://www.schema.org/Person"}
    %div{:itemprop => "name"}
      %span{:itemprop => "givenName"} Cody
      %span{:itemprop => "additionalName"} A.
      %span{:itemprop => "familyName"} Ray

    %div{:itemprop => "jobTitle"} The Developer
    %a{:itemprop => "email", :href => "mailto:talktome@codyaray.com"} talktome@codyaray.com
    %a{:itemprop => "url",   :href => "http://codyaray.com"} codyaray.com

  %div{:itemscope => true, :itemtype => "http://www.schema.org/Person"}
    %div{:itemprop => "name"}
      %span{:itemprop => "givenName"} Anna
      %span{:itemprop => "familyName"} Dron
    %div{:itemprop => "jobTitle"} The Inspiration
    %a{:itemprop => "email", :href => "mailto:anna@prettynerd.com"} anna@prettynerd.com
    %a{:itemprop => "url",:href =>"http://prettynerd.com"} prettynerd.com